.transactionHistory {
  margin: 0 auto 80px auto;
  border-radius: 5px;
  box-shadow: 7px 7px 12px 3px rgba(29, 29, 29, 0.2);
}

.thead {
  background-color: #0ecee0;
}

.headerLine {
  width: 30%;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: #eeeeee;
}

.item {
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #757575;
}

.item:first-child {
  padding-left: 80px;
}

.item:not(:first-child) {
  text-align: center;
}
.row:nth-child(1n) {
  background-color: #fcb448;
}
.row:nth-child(2n) {
  background-color: #eeeeee;
}
