.statusOnline,
.statusOffline {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin: 0 15px 0 15px;
}

.statusOffline {
  background-color: red;
}
.friendsList {
  margin: 80px auto;
  width: 30%;
  list-style: none;
}
.friendsListItem {
  display: flex;
  align-items: center;
  margin: 20px;
  box-shadow: 7px 7px 12px 3px rgba(29, 29, 29, 0.2);
  padding-left: 10px;
  border-radius: 3px;
  background-color: #ffffff;
}
.name {
  font-size: large;
  font-weight: 600;
}
.avatar {
  background-color: yellowgreen;
  border-radius: 10px;
  margin: 10px;
}
